.btn {
    margin: 0 auto;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    padding: 10px;
    margin: 7px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}